* {
    box-sizing: border-box;
    align-self: center;
    overflow-y: hidden
}

h1 {
    position: relative;
    left: 35%;
    width: 35%
}

div {
    font-size: 17px;
    padding: 10px;
}

div[id='preupload'] {
    position: relative;
    top: 10%
}

div[id='postupload'] {
    position: relative;
    top: 10%
}

form {
    padding: 10px;
    width: 30%;
    left: 35%;
    top: 300px;
    align-self: center;
    position: relative;
}

form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

/* Style the submit button */
form button {
    float: left;
    width: 30%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

form[id=go_forward_button_form] {
    float: none;
    position: absolute;
    top: 90%;
    bottom: 0px;
    padding: 10px;
    background: #2196F3;
    border: none;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    align-items: center;
}

form[id=go_forward_button_form] button[type=submit] {
    align-items: center;
    position: relative;
    left: 40%;
    bottom: 50%;
    width: 20%
}

div[id='postupload'] form {
    position: relative;
    top: 0%;
    padding-top: 5px;
}

ul {
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}

li {
    padding: 5px;
    border: 1px dashed red;
}

div[id='songpreviews'] {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 13%;
    max-height: 675px; 
    padding-top: 5px;
    width: 74%;
    border: 2px solid black;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}