<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Song!</title>
    <link href = "{{ url_for('static', filename='styles/style/css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Guess the song:</h1>
    <p>{{ playlist_link }}</p>

    <form action="" method="POST">
        <input type="text" name="song_guess" id="song_guess" placeholder="Guess the Song:" />
        <button type="submit">GUESS</button>
    </form>
</body>
</html>