<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your Playlist</title>
    <link href = "{{ url_for('static', filename='styles/style/css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Upload your Playlist:</h1>
    <form action="/guessingGame">
        <input type="text" name="playlist_link" id="playlist" placeholder="Paste your Spotify playlist link:" />
        <button type="submit">Go!</button>
    </form>
</body>
</html>

